@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SignIn";
}

<h1>Sign In</h1>

<div class="container">
    <form  asp-action="SignIn" asp-controller="Account" method="post" class="m-5 p-5">
        <div class="mb-3">
            <label class="form-label">
                Username:
            </label>
            <input type="text" class="form-control" name="UserName" />
            <br />
            <label class="form-label">
                Password:
            </label>
            <input type="password" class="form-control" name="Password" />
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>